 **Python para Análise de Dados (Pandas) - By Roberto Pivetta** <br>
  (Desafio de projeto - Digital Innovation One) - Prof. Fernanda Santos (Data Scientist)
        <center>  Bootcamp: Cognizant Cloud Data Engineer </center>
- Trabalhando com a Biblioteca Pandas

In [ ]:
##Importando a biblioteca Pandas

In [ ]:
import pandas as pd

##Lendo o data frame e utilizando os parâmetros (error_bad_lines e sep) para ignorar erros nas linhas do data frame e arrumar o separador na visualização do data frame)

In [ ]:
df = pd.read_csv("/Gapminder.csv",error_bad_lines=False, sep=";")

## Visualizando as 5 primerias linhas

In [ ]:
df.head()

          País Continente  ...  População Total         PIB
0  Afghanistan       Asia  ...          8425333  779.445314
1  Afghanistan       Asia  ...          9240934  820.853030
2  Afghanistan       Asia  ...         10267083  853.100710
3  Afghanistan       Asia  ...         11537966  836.197138
4  Afghanistan       Asia  ...         13079460  739.981106

[5 rows x 6 columns]

#Renomeando o nome das Colunas

In [ ]:
df = df.rename(columns={"country": "País","continent":"Continente","year":"Ano","lifeExp":"Expectativa de vida","pop":"População Total" ,"gdpPercap":"PIB"})

#Visualizando as 10 primeiras linhas do dataframe

In [ ]:
df.head(10)

          País Continente  ...  População Total         PIB
0  Afghanistan       Asia  ...          8425333  779.445314
1  Afghanistan       Asia  ...          9240934  820.853030
2  Afghanistan       Asia  ...         10267083  853.100710
3  Afghanistan       Asia  ...         11537966  836.197138
4  Afghanistan       Asia  ...         13079460  739.981106
5  Afghanistan       Asia  ...         14880372  786.113360
6  Afghanistan       Asia  ...         12881816  978.011439
7  Afghanistan       Asia  ...         13867957  852.395945
8  Afghanistan       Asia  ...         16317921  649.341395
9  Afghanistan       Asia  ...         22227415  635.341351

[10 rows x 6 columns]

#Retornando o total do número de linhas e colunas do dataframe

In [ ]:
df.shape

(3312, 6)

#Retornando o nome das colunas

In [ ]:
df.columns

Index(['País', 'Continente', 'Ano', 'Expectativa de vida', 'População Total',
       'PIB'],
      dtype='object')

# Retornando o tipo de dado em cada coluna

In [ ]:
df.dtypes

País                    object
Continente              object
Ano                      int64
Expectativa de vida    float64
População Total          int64
PIB                    float64
dtype: object

#Visualizando as últimas linhas do dataframe

In [ ]:
df.tail()

          País Continente  ...  População Total         PIB
3307  Zimbabwe     Africa  ...          9216418  706.157306
3308  Zimbabwe     Africa  ...         10704340  693.420786
3309  Zimbabwe     Africa  ...         11404948  792.449960
3310  Zimbabwe     Africa  ...         11926563  672.038623
3311  Zimbabwe     Africa  ...         12311143  469.709298

[5 rows x 6 columns]

#Apresentando uma descrição (mais informações do dataframe)

In [ ]:
df.describe()

               Ano  Expectativa de vida  População Total            PIB
count  3312.000000          3312.000000     3.312000e+03    3312.000000
mean   1980.301630            65.246871     3.161489e+07   11317.115805
std      16.927294            11.768412     1.041193e+08   11369.142739
min    1950.000000            23.599000     5.941200e+04     241.165877
25%    1967.000000            58.337500     2.678572e+06    2514.625266
50%    1982.000000            69.610000     7.557218e+06    7838.505123
75%    1996.000000            73.657750     1.958522e+07   17357.879170
max    2007.000000            82.670000     1.318683e+09  113523.132900

#Apresentando os continentes existentes no dataframe

In [ ]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

#Utilizando o método loc para filtrar somente os países pertencentes ao continente oceania

In [ ]:
oceania = df.loc[df['Continente'] == "Oceania"]
oceania.head()

     País Continente   Ano  Expectativa de vida  População Total          PIB
975  Fiji    Oceania  1962               56.494           421869  2039.393277
976  Fiji    Oceania  1967               58.607           485000  2170.073285
977  Fiji    Oceania  1972               60.642           544000  2797.759484
978  Fiji    Oceania  1977               62.669           599339  3182.569600
979  Fiji    Oceania  1982               64.683           658906  3209.257468

In [ ]:
oceania['Continente'].unique()

array(['Oceania'], dtype=object)

#Utilizando o GroupBy com Pandas 
Exemplo1 (Quantos países para cada continente ?)

In [ ]:
df.groupby("Continente")["País"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: País, dtype: int64

#Utilizando o GroupBy com Pandas

Exemplo2 (Para cada ano,qual é a expectativa de vida média?)

In [ ]:
df.groupby("Ano")["Expectativa de vida"].mean()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283437
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921563
2005    76.718667
2006    77.887778
2007    67.868557
Name: Expectativa de vida, dtype: float64

#Retornando a média dos PIBs dos países

In [ ]:
df['PIB'].mean()

11317.115804696637

#Retornando a soma dos PIBs dos países

In [ ]:
df['PIB'].sum()

37482287.5451553